<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>

    <%= render @product %>

    <!-- Mostrar tallas disponibles -->
    <div class="my-5">
      <h3 class="text-lg font-bold mb-2">Tallas disponibles:</h3>
      <% if @product.sizes.any? %>
        <ul class="list-disc list-inside">
          <% @product.sizes.each do |size| %>
            <li><%= size.name %></li>
          <% end %>
        </ul>
      <% else %>
        <p class="text-gray-500">No hay tallas asignadas a este producto.</p>
      <% end %>
    </div>

    <%= link_to "Edit this product", edit_product_path(@product), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Back to products", products_path, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <div class="inline-block ml-2">
      <%= button_to "Destroy this product", @product, method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
    </div>
  </div>
</div>

